---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import TableOfContentsList from "@/components/table-of-content/TableOfContentsList.astro";

// Icons
import CalendarIcon from "src/assets/svg/calendar-days.svg";
import ClockIcon from "src/assets/svg/clock.svg";
import MobileTableOfContents from "@/components/table-of-content/MobileTableOfContents.astro";
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Heading from "@/components/Heading";

dayjs.extend(utc);

export async function getStaticPaths() {
  const entries = await getCollection("blog");

  return entries.map((entry) => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;

const { Content, headings, remarkPluginFrontmatter } = await render(entry);

const { title, minutesRead, lastModified } = remarkPluginFrontmatter;

const publishDate = dayjs(lastModified).utc().format("MMMM D, YYYY");

const { data: author } = await getEntry(entry.data.author);
---

<StarlightPage
  frontmatter={{ title: title, template: "splash" }}
  {...{
    hideTitle: true,
    hideBackground: true,
  }}
>
  <div class="container">
    <div class="flex lg:gap-x-10 xl:gap-x-20">
      <div
        class="hidden lg:block lg:w-1/3 xl:w-1/4 sticky top-0 h-screen overflow-y-auto not-content"
      >
        <TableOfContentsList
          toc={headings}
          className="mt-4! flex flex-col gap-y-4"
        />
      </div>

      <main class="lg:w-2/3 xl:w-3/4 w-full">
        <Heading size="h2" as="h1" className="pb-3 md:pb-4 pt-4 md:pt-5"
          >{title}</Heading
        >
        <div class="flex items-center gap-x-7 not-content">
          <div class="flex items-center gap-x-2">
            <CalendarIcon class="size-6" />
            <span
              class="font-montserrat font-medium text-sm leading-5 text-white"
            >
              {publishDate}
            </span>
          </div>
          <div class="flex items-center gap-x-2 mt-0!">
            <ClockIcon class="size-6" />
            <span
              class="font-montserrat font-medium text-sm leading-5 text-white"
            >
              {minutesRead}
            </span>
          </div>
        </div>

        <div class="pt-8 pb-6 not-content">
          {
            author !== undefined && (
              <div class="flex items-center gap-x-4">
                <Image
                  src={author.image_url ?? "/default-author.png"}
                  alt={author.name}
                  width={56}
                  height={56}
                  class="rounded-full object-cover"
                />
                <div>
                  <a
                    href={author.url}
                    class="font-montserrat font-medium leading-[22px] underline text-white!"
                    target="_blank"
                    referrerpolicy="no-referrer"
                  >
                    {author.name}
                  </a>
                  <p class="font-montserrat leading-[22px] text-white/80! pt-1.5">
                    {author.title}
                  </p>
                </div>
              </div>
            )
          }
        </div>

        <Content />
      </main>
    </div>
  </div>
</StarlightPage>
